<body class="skin-black">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="/admin" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            报名系统
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="/admin/logout" class="dropdown-toggle">
                            <i class="fa fa-user"></i>
                            hi, <span><%= name %> <i class="fa fa-sign-out"></i> 退出</span>&nbsp;&nbsp;
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
