<!DOCTYPE html>
<html>
<% include head %>
  <body>
      <div class="middle">
          <div class="container">

              <div class="panel panel-info">
                  <div class="panel-heading">新报名</div>
                  <div class="panel-body">
                      <table class="table table-inbox table-hover">
                            <tbody>
                            <% stus.forEach(function(e){ %>
                              <%- include('./cell/new', {one: e}) %>
                            <% }) %>
                          </tbody>
                      </table>
                  </div>
              </div>


              <div class="panel panel-default">
                  <div class="panel-heading">未确定的学生</div>
                  <div class="panel-body">
                      <span class="media-meta pull-right">Febrero 13, 2016</span>
                      <h4 class="title">
                          Lorem Impsum
                          <span class="pull-right cancelado">(Cancelado)</span>
                      </h4>
                      <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>

                  </div>
              </div>


              <div class="panel panel-success">
                  <div class="panel-heading">Unity 报名学生</div>
                  <div class="panel-body">

                  </div>
              </div>


              <div class="panel panel-success">
                  <div class="panel-heading">3D美术 报名学生</div>
                  <div class="panel-body">

                  </div>
              </div>




          </div>
      </div>
  </body>
</html>
