<!DOCTYPE html>
<html>
<% include head %>
  <body>
      <div class="middle">
          <div class="container">

              <div class="panel panel-info">
                  <div class="panel-heading">新报名</div>
                  <div class="panel-body">
                      <table class="table table-inbox table-hover">
                            <tbody class="new">
                            <% stus.forEach(function(e){ %>
                              <%- include('./cell/new', {one: e}) %>
                            <% }) %>
                          </tbody>
                      </table>
                  </div>
              </div>


              <div class="panel panel-default">
                  <div class="panel-heading">未确定的学生</div>
                  <div class="panel-body">
                      <span class="media-meta pull-right">Febrero 13, 2016</span>
                      <h4 class="title">
                          Lorem Impsum
                          <span class="pull-right cancelado">(Cancelado)</span>
                      </h4>
                      <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>

                  </div>
              </div>


              <div class="panel panel-success">
                  <div class="panel-heading">Unity 报名学生</div>
                  <div class="panel-body">

                  </div>
              </div>


              <div class="panel panel-success">
                  <div class="panel-heading">3D美术 报名学生</div>
                  <div class="panel-body">

                  </div>
              </div>


          </div>
      </div>
  </body>
  <script>
    var socket = io();
    socket.on('new', function(msg){
      console.log(msg);
      var subName = msg.subName[msg.subject];
      var mesg = msg.message.slice(0, 10);
      var ndate = moment(one.data).zone(-8).format('YYYY-MM-DD  HH:MM');
      var $newinfo = $('<tr><td class="view-message"><div class="new"><i class="fa fa-circle-o" aria-hidden="true"></i></div></td><td class="view-message">'+subName+'</td><td class="view-message"><a href="/stu/'+msg._id+'">'+ msg.name +'</a></td><td class="view-message"><i class="fa fa-mobile fa-1.5x" aria-hidden="true"></i> : '+msg.phone+'</td><td class="view-message"><i class="fa fa-qq" aria-hidden="true"></i> : '+msg.qq+'</td><td class="view-message"><i class="fa fa-comments-o" aria-hidden="true"></i> : '+mesg+' ...</td><td class="view-message  text-right">'+ndate+'</td></tr>');
      $('tbody').prepend($newinfo);
    });
  </script>
</html>
