<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form class="" action="/register" method="post">
            <div class="form-login">
            <h3>注册用户</h3>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="登陆名称,输入英文" name="user" />
            <h4></h4>
            <input type="text" id="name" class="form-control input-sm chat-input" placeholder="输入真实中文名子" name="name" />
            <br>
            <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="请输入登陆密码" name="repassword" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button type="submit" class="btn btn-success btn-md">注 册 <i class="fa fa-sign-in"></i></button>
                <a href="/login"  class="btn btn-default btn-md">登 陆 </a>
            </span>
            </div>
            </div>
            </form>
        </div>
    </div>
</div>

  </body>
</html>
